@tailwind base;
@tailwind components;
@tailwind utilities;

#MAP > path:hover {
    fill: aquamarine;
    cursor: pointer;
}
#plane:hover {
    fill: yellow;
    cursor:default;
}
g:hover{
    fill:aquamarine
}